<h1> HT100M-step: Temporal step grounding challenge </h1>


<h2>Task</h2>
Temporal step grounding refers to finding the temporal segment in a video where a particular text query appears.
The task is therefore dense temporal grounding, as multiple textual queries (steps) are to be jointly grounded over the video.
<p></p>

<h2>Dataset</h2>

<p>

HTM100-step contains instructional cooking videos that are temporally annotated with a sequence of steps taken from a WikiHow article.
Each step consists of a headline sentence and a paragraph describing the step in more detail.
The steps of the article do not appear at all, appear partially, are executed in different order, or are repeated multiple times.

</p>
